<!DOCTYPE html>
<html>
<head>
  <title>BlogBase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "Home",    root_path %></li>
  <li><%= link_to "Blog",    articles_path %></li>
  <li><%= link_to "Contact",    contacts_path %></li>
  <li><%= link_to "About",    about_path %></li>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <span>Hi, <%= current_user.email %></span>
    <%= link_to 'Settings', edit_user_registration_path %>
    <%= link_to 'Output', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<%= yield %>

</body>
</html>
