<!DOCTYPE html>
<html>
<head>
  <title>BlogBase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-8 col-xs-8">
      <ul>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Blog",    articles_path %></li>
        <li><%= link_to "Contact",    contacts_path %></li>
        <li><%= link_to "About",    about_path %></li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-4 col-xs-4">
      <% if user_signed_in? %>
          <span>Hi, <%= current_user.email %></span>
          <%= link_to 'Settings', edit_user_registration_path %>
          <%= link_to 'Output', destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
